<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PatientMapper">

    <select id="list" resultType="com.example.pojo.Patient">
        select id,name,phone,password,id_card from patient
        <where>
            <if test="name!=null">
                name like concat('%',#{name},'%')
            </if>

        </where>

    </select>


</mapper>